<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <form th:action="@{/get-post}" method="POST">
    <input type="text" name="username" autocomplete="off" placeholder="Usuario" /><br>
    <input type="text" name="email" autocomplete="off" placeholder="Email" /><br>

    <button type="submit">Enviar</button>
  </form>
  
</body>
</html>